.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  width: 230px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

img {
  width: 100%;
  border-radius: 6px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin-top: 1px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
}

.btn-wa {
  background: #25d366;
  color: white;
}

.btn-tg {
  background: #2aabee;
  color: white;
}

.btn:hover {
  opacity: 0.5;
}

.image-container {
  width: 100%;
  height: 260px;
  border-radius: 16px;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}
.thumbs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.thumb {
  width: 70px;
  height: 70px;
  border-radius: 12px;
  background: #ffffff;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid transparent;
  transition: 0.2s;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumb:hover {
  border-color: #007bff;
}

.actions-row {
  margin-top: 20px;
  display: flex;
  align-items: stretch;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
}

.action-btn {
  flex: 1;
  padding: 12px 10px;
  border: none;
  background: #f2f2f2;
  font-weight: 600;
  cursor: pointer;
}

.action-btn:hover {
  opacity: 0.5;
}

.divider {
  width: 1px;
  background: #111;
}
